
:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

h1 {
    margin: 0;
    text-decoration: underline;
    font-size: 2rem;
    line-height: 100px;
    
    a {
        color: var(--primary-light);
    }
}

div {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}