<!-- Loading spinner does not interact well with animations between routes
     I'm keeping this example to use in another point of the application where 
    loading times are bigger and not route animation are allowed -->
<!-- <div *ngIf="selectedActivity && selectedPeople; else spinnerLoader"> -->
<div>
  <main>
    <form>
      <p>
          While you are 
      </p>
      <mat-form-field class="example-full-width" appearance="fill" mat class="dropdown-select">
        <mat-icon class="clear-input-btn" (click)="clearInput(activitiesControl)">close</mat-icon>
        <input type="text"
               matInput
               [matAutocomplete]="autoActivities"
               [formControl]="activitiesControl">
        <mat-autocomplete autoActiveFirstOption #autoActivities="matAutocomplete" disableOptionCentering>
          <mat-option *ngFor="let activity of filteredActivitiesOptions | async" [value]="activity.name" [ngClass]="{'custom-item': activity.createdBy !== 'fixed'}">
              {{activity.name}}({{activity.time}}m)
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill" mat class="dropdown-select">
        <mat-icon class="clear-input-btn" (click)="clearInput(peopleControl)">close</mat-icon>   
        <input type="text"
                 matInput
                 [matAutocomplete]="autoPeople"
                 [formControl]="peopleControl">
          <mat-autocomplete autoActiveFirstOption #autoPeople="matAutocomplete">
            <mat-option *ngFor="let people of filteredPeopleOptions | async" [value]="people.name">
                {{people.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
        <p>
            earned
        </p>
        
        <h3 *ngIf="selectedPeople && selectedActivity" class="important-text"> {{ moneyWon }}{{currencySelected?.symbol}}</h3>
    </form>
    <img src="/assets/images/ilustration1.svg" alt="">
  </main>
  
  
  <section>
    <img src="/assets/images/ilustration2.svg" alt="">
    <h4 *ngIf="selectedPeople">And since you gone into this page <span class="important-text">{{ selectedPeople?.name }}</span> has earned <span class="important-text">{{ calculateMoneySince(moneyPerSecond, sessionTime, currencyFactor) }}{{currencySelected?.symbol}}</span></h4>
  </section>
</div>

<ng-template #spinnerLoader>
  <mat-spinner value="warn"></mat-spinner>
</ng-template>