:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 650px;
    transform: translateY(-30%);

    &.signup-form { gap: 2rem; }
}